.BlockUnique{
    min-height: 850px;
    background: url(../../Assets/img/Bg_Unique.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.uniTitleBlock{
    padding: 100px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: white;
    opacity: .7;
}
.imgIpad{
    position: absolute;
    top: 230px;
    left: 600px;
    z-index: 2;
}
.imgIphon{
    position: absolute;
    top: 470px;
    left: 1024px;
    z-index: 2;
}